body{
  background-color: #DDFFBB;
}
hr
{
  border-style:  none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 10%;
}
h1 {
  color: #41644A;
}
h2{
  color: #41644A;
}
h3
{
  color: #41644A;
}
h4{
  color: #41644A;
}
